
 .container__headings {
   width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  margin: 0;
  padding: 0;
  border-top: 1px solid gray;
}

.footer {
  width: 1200px;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 15px;

  a {
     text-decoration: none;
     color: black;
     &:hover {
        color:#ff8500;
     }
   }

  nav {
     font-size: 18px;
  }
  

  ul {
     list-style: none;
     display: flex;
     gap: 10px;
  }

  h1 {
     margin: 5px;
     margin-top: 10px;
     margin-bottom: 0px;
     font-weight: 300;
  }

  h2 {
     font-weight: 200;
     margin: 0;
  }

  p {
     margin: 5px;
     margin-top: 0;
     margin-bottom: 10px; 
     background-color: #ff8500;
     padding: 2px 5px 3px 5px;
     color: white;
     font-weight: 300;
  }

  .footer__socials{
     img {
        display: inline-block;
        margin-right: 5px;
        background-color: gray;
        border-radius: 100%;
        padding: 7px;
  
        &:nth-child(1) {
           padding-right: 9px;
        }
  
        &:hover {
           background-color: #ff8500;
        }
     }
  }
}