.container__headings {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #dddddd;
   margin: 0;
   padding: 0;
   border-bottom: 1px solid gray;
   // z-index: 2; // scroll-effect
 }

 

 .header {
   width: 1200px;
   background-color: #dddddd;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   margin: 10px 0;
   padding: 15px;
   text-wrap: nowrap;
   // z-index: 2; // scroll-effect

   .header__logo {
      width: 270px;
      display: block;
      margin: 0;
   }


   a {
      text-decoration: none;
      color: black;
      transition: color 0.2s ease-in;
      &:hover {
         color:var(--accent-color);
      }
    }

   nav {
      font-size: 22px;
      margin-right: 20px;
   }
   

   ul {
      list-style: none;
      display: flex;
      gap: 20px;
      
   }

   h2 {
      font-size: 24px;
      font-weight: 400;
      margin: 0;
   }

   .header__logo__container {
      
   }

   .header__logo__text {
      margin: 0;
      margin-top: 0;
      margin-bottom: 10px; 
      background-color: var(--accent-color);
      padding: 0;
      color: black;
      font-weight: 500;
      max-width: 370px;
      text-align: center;
      font-size: 18px;
      line-height: 18px;
      padding: 0 3px 2px 3px;
   }

   .header__burger {
      background-color: rgb(128, 128, 128, 0.7);
      border-radius: 100%;
      padding: 15px;
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 55;
      display: none;
      transition: opacity 0.2s ease-in;
      width: 40px;
      height: 40px;
      &__bar {
         width: 50px;
         height: 2px;
         background-color: white;

         &:nth-child(2) {
            width: 38px;
            align-self: flex-end;
            transform: translateX(4px);
         }
      }
      &:active {
         background-color: var(--accent-color);
      }
   }

   .header__socials{
      display: flex;
      
      align-items: center;
      gap: 20px;

      .header__socials__images {
         a:first-of-type {
            img {
               object-position: -1px center;
            }
      }
   }

      img {
         width: 20px;
         height: 20px;
         display: inline-block;
         margin-right: 5px;
         background-color: var(--accent-color);
         border-radius: 100%;
         padding: 4px;
         transition: background-color 0.2s ease-in;
   
         &:hover {
            background-color: gray;
         }
      }
   }
 }

 @media screen and (min-width: 1200px) {
   .header {
      .header__nav--mobile {
         display: none;
      }
      .header__socials {
         transform: translateX(0) !important;
      }
   }
 }


 @media screen and (max-width: 1200px) {
   .header {
      z-index: 15;
      justify-content: center;
      .header__nav--desktop {
         display: none;
      }
      .header__nav--mobile {
         position: fixed;
         display: block;
         top: 0;
         left: 0;
         z-index: 5;
         font-size: 28px;
         background-color: var(--headings-color);
         width: 80%;
         height: 100%;
         border-right: 1px solid gray;
         transition: transform 0.3s ease-in;
         transform: translateX(-100%);
         
         ul {
            display: flex;
            flex-direction: column;
            margin-top: 150px;
            li {
               margin-bottom: 15px;
               border-left: 2px solid var(--accent-color);
               padding-left: 5px;
            }
         }
         a {
            &:hover {
               color: black;
            }
            &:active {
               color: var(--accent-color);
            }
         }
      }

      .header__socials {
         position: fixed;
         display: flex;
         flex-direction: column;
         z-index: 5;
         top: 450px;
         left: 25px;
         transition: transform 0.3s ease-in;
         transform: translateX(-110%);

         h2 {
            font-size: 28px;
         }

         img {
            height: 50px;
            width: 50px;
            padding: 10px;
            margin-top: 10px;
            margin-right: 10px;
         }
      }

      .header__burger {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         row-gap: 7px;
         z-index: 44;
      }
   }
 }