.hero {
   position: relative; // scroll-effect-related
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 25px;
   background-color: var(--background-color);
   margin-top: 75vh; // scroll-effect
//   z-index: 2; // scroll-effect 
//    width: 100%; // scroll-effect-related

   &__wrapper {
      max-width: 1506px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   h1 {
      font-size: 46px;
   }

   &__first-part {
     display: flex;
     align-items: center;
     gap: 105px;
     
     &__text-container {
      text-align: justify;
      max-width: 600px;
     }

     &__image-container {
      overflow: hidden;
      border-radius: 25px;
      box-shadow: 5px 5px 15px 0 black;
      transition: scale 0.3s ease-out;

         &:hover {
            scale: 1.02;
         }

      img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
         
      }
     }
   }

   &__second-part {
      width: 1200px;
      text-align: justify;
   }
}