.interiors {
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin-bottom: 45px;

   img {
      display: block;
      object-fit: cover;
      object-position: center bottom;
      width: 48vw;
      height: 35vh;
      
   }

   h2, p, a {
      color: white;
   }

   h2 {
      font-size: 20px;
   }

   a {
      text-decoration: none;
      border-bottom: 2px solid white;
   }

   &__private {
      position: relative;
      
      &__text {
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         z-index: 1;
      }

      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 50%);
      }
   }

   &__public {
      position: relative;

      &__text {
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         z-index: 1;
      }

      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 50%);
      }
   }
}